<div class="row">
  <!-- show any messages that come back with authentication -->
  {{#if error}}
    <p class="alert alert-warning">{{error}}</p>
  {{/if}}

  {{#if success}}
    <p class="alert alert-success">{{success}}</p>
  {{/if}}

  {{#if notice}}
    <p class="alert alert-info">{{notice}}</p>
  {{/if}}
</div>
<h1>Sobre o SPDAEE</h1>

<p>Sistema de Patrimônio do DAEE:</p>
<p>O sistema possibilita:</p>
<ul>
  <li>Fazer a requisição de materiais / bens / etc (?)</li>
  <li>Após realizado o pedido, o responsável pelo expediente deverá autorizá-lo.</li>
  <li>O pedido será encaminhado para a diretoria de compras correta, com envio de email.</li>
  <li>As diretorias de compra terão acesso e controle aos seus pedidos.</li>
  <li>Após materiais comprados o sistema pode enviar confirmações de que o material chegou.</li>
  <li>Se for o caso, o sistema gerará um número de patrimônio único para o bem adquirido.</li>
  <li>O sistema gerará um QR Code(apontando para URL) para ser anexado ao bem.</li>
  <li>Ao acessar QR Code, o sistema dará a opção de atribuir um responsável para o bem.</li>
  <li>A gerência do bem patrimonial terá as opções: Atribuir Responsável, Movimentar/Transferir Bem, Receber Bem, Alterar estado/situação, Recolher Bem.</li>
  <li>Todo tipo de movimentação do bem deverá ser autorizada pelo Responsável pelo Expediente.</li>
</ul>

<p>Procedimentos necessários:</p>
<ol>
  <li>Após desenvolvimento, importar dados do sistema patrimonial em produção, do sistema de funcionários do RH.</li>
  <li>Todos os bens importados começarão com status de Pendência de Confirmação. O que significa que o usuário do bem deve entrar no sistema e confirmar a sua guarda, atualizando a situação.</li>
  <li>Os núcleos centrais, setoriais e subsetoriais devem estar cientes da implantação e adotar o sistema em definitivo alimentando-o e atualizando-o frequentemente.</li>
  <li>Planejar implantação para as unidades situadas no Interior do estado de SP</li>
</ol>

<p>Objetivos:</p>
<ul>
  <li>Fazer a gestão de bens patrimoniais móveis do DAEE.</li>
  <li>Melhorar controle</li>
</ul>
<p>Entre em contato com a STI para maiores informações</p>
