{{#section 'json-editor'}}


{{/section}}

<div class="container">

  <div class="col-sm-6 col-sm-offset-3">

      <h1><span class="fa fa-sign-in"></span> Signup</h1>

      <!-- show any messages that come back with authentication -->

      {{#if data.message}}
          <div class="alert alert-danger">{{message}}</div>
      {{/if}}

      <!-- COMEÇANDO PATIFARIA DO SCHEMA-FORM-->
      <div ng-controller="FormController">
          <form sf-schema="schema" sf-form="form" sf-model="model"></form>
      </div>

  </div>

</div>
